body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form label,
.login-container form input,
.login-container form button {
    margin-bottom: 10px;
}

.login-container form input {
    padding: 8px;
    font-size: 14px;
}

.login-container form button {
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.login-container form button:hover {
    background-color: #555;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.table td {
    word-wrap: break-word;
    max-width: 150px; /* Vous pouvez ajuster cette valeur selon vos besoins */
    white-space: pre-wrap; /* Cette propriété assure que les espaces sont respectés et le texte s'affiche correctement */
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px; /* largeur souhaitée */
    height: 300px; /* hauteur souhaitée */
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
}

.card-title {
    margin-bottom: 20px;
    text-align: center;
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    text-align: center;
}

.table td {
    word-wrap: break-word;
    max-width: 150px; /* Vous pouvez ajuster cette valeur selon vos besoins */
    white-space: pre-wrap; /* Cette propriété assure que les espaces sont respectés et le texte s'affiche correctement */
}